In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.408435 -0.292208 -0.460942 -0.798029
1 -0.020545  0.756263 -0.887155 -0.279373
2  0.237220  0.252950  0.186536 -0.224246
3 -0.326434  0.170897 -0.343958 -1.299727
4 -0.340418 -0.704467  0.319728  0.043195

In [2]:
df = pd.DataFrame({
    'color': ['red', 'yellow', 'orange'],
    'fruit': ['apple', 'banana', 'orange']
})

print(df)

df_onehot = pd.get_dummies(df, columns=['color'], prefix='aa')
df_onehot

    color   fruit
0     red   apple
1  yellow  banana
2  orange  orange

    fruit  aa_orange  aa_red  aa_yellow
0   apple          0       1          0
1  banana          0       0          1
2  orange          1       0          0

In [3]:
df_partial = pd.DataFrame({
    'color': ['red', 'yellow'],
    'fruit': ['apple', 'orange']
})

print(df_partial)

df_partial_onehot = pd.get_dummies(df_partial, columns=['color'], prefix='aa')
df_partial_onehot

    color   fruit
0     red   apple
1  yellow  orange

    fruit  aa_red  aa_yellow
0   apple       1          0
1  orange       0          1

In [4]:
pd.Categorical(df_partial['color'], categories=['red', 'yellow', 'orange'])

[red, yellow]
Categories (3, object): [red, yellow, orange]

In [5]:
df_partial_onehot.reindex(df_onehot.columns, fill_value=0, axis=1)

    fruit  aa_orange  aa_red  aa_yellow
0   apple          0       1          0
1  orange          0       0          1